.footer-container {
    align-items: center;
    background-color: #4b4b4b;
    color: #c5c5c5;
}

.footer-head {
    text-align: center;
    font-size: 35px;
    padding-top: 1%;
}

.footer-social {
    text-align: center;
    background-color: #4b4b4b;
    padding: 1.5% 0;
}

.footer-img {
    margin: 0 0.5%;
    border-radius: 20%;
}

.footer-final {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    background-color: #353535;
    color: #c5c5c5;
}

.footer-name {
    text-decoration: none;
    color: white;
    padding-top: 0.5%;
    padding-bottom: 1%;
    letter-spacing: 8px;
    font-size: 22px;
    font-weight: 500px;
}

@media screen and (max-width: 1024px) {
    .footer-head {
        text-align: center;
        font-size: 30px;
        padding-top: 1%;
    }
    .footer-name {
        color: white;
        padding-top: 0.5%;
        padding-bottom: 1%;
        letter-spacing: 8px;
        font-size: 20px;
        font-weight: 500px;
    }
}

@media screen and (max-width: 768px) {
    .footer-head {
        text-align: center;
        font-size: 25px;
        padding-top: 1%;
    }
    .footer-name {
        color: white;
        padding-top: 0.5%;
        padding-bottom: 1%;
        letter-spacing: 8px;
        font-size: 17px;
        font-weight: 500px;
    }
}

@media screen and (max-width: 414px) {
    .footer-head {
        text-align: center;
        font-size: 25px;
        padding-top: 1%;
    }
    .footer-name {
        color: white;
        padding-top: 0.5%;
        padding-bottom: 1%;
        letter-spacing: 8px;
        font-size: 15px;
        font-weight: 500px;
    }
}

@media screen and (max-width: 320px) {
    .footer-head {
        text-align: center;
        font-size: 25px;
        padding-top: 1%;
    }
    .footer-name {
        color: white;
        padding-top: 0.5%;
        padding-bottom: 1%;
        letter-spacing: 8px;
        font-size: 13px;
        font-weight: 500px;
    }
}
