.work-container {
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 10%;
    background-image: url("../../images/Work.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: top center, center;
}

.work-main {
    margin-bottom: 5%;
    margin-top: 10%;
    &__heading {
        font-size: 400%;
        text-shadow: 2px 2px 5px royalblue;
        font-family: Comic Sans MS;
    }
    &__sub {
        font-weight: 500px;
        font-size: 150%;
        text-align: center;
        text-shadow: 1px 1px 2px royalblue;
        font-family: Comic Sans MS;
    }
}

.work-section {
    display: flex;
    justify-content: center;
    margin: auto;
}

.accordion {
    cursor: pointer;
}

.accordion__img {
    width: 300px;
    height: 120px;
    &:hover {
        box-shadow: 2px 5px 5px 5px lightblue;
    }
}

.accordion-container {
    margin: 10% 15%;
    max-width: 300px;
}

.accordion-content {
    text-align: left;
    margin-top: 5%;
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: Gill Sans, sans-serif;
    letter-spacing: 1px;
    transition: max-height 0.6s ease;
}

@media screen and (max-width: 1024px) {
    .accordion__img {
        width: 250px;
    }
    .accordion-container {
        width: 250px;
    }
    .work-main {
        margin-top: 10%;
        &__heading {
            font-size: 70px;
        }
        &__sub {
            font-size: 30px;
        }
    }
    .accordion-content {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .work-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .accordion__img {
        width: 250px;
    }
    .accordion-container {
        width: 250px;
        margin: 15% 0;
    }
    .work-main {
        margin-top: 15%;
        &__heading {
            font-size: 60px;
        }
        &__sub {
            font-size: 30px;
        }
    }
    .accordion-content {
        font-size: 18px;
    }
}

@media screen and (max-width: 414px) {
    .accordion__img {
        width: 180px;
    }
    .accordion-container {
        width: 180px;
    }
    .work-main {
        margin-top: 20%;
        &__heading {
            font-size: 40px;
        }
        &__sub {
            font-size: 20px;
        }
    }
    .accordion-content {
        font-size: 16px;
    }
}

@media screen and (max-width: 414px) {
    .accordion-content {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .accordion__img {
        width: 160px;
    }
    .accordion-container {
        width: 160px;
    }
    .work-main {
        margin-top: 25%;
        &__heading {
            font-size: 30px;
        }
        &__sub {
            font-size: 15px;
        }
    }
    .accordion-content {
        font-size: 13px;
    }
}
